<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
				<typeAlias type="com.org.practice.login.model.vo.LoginMember" alias="loginMem"/>
				<typeAlias type="com.org.practice.signup.model.vo.SignUpMember" alias="signUpMem"/>
		
		
 	</typeAliases>
</configuration>
